<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div id="cartSection">
        <i class="fas fa-trash-alt" id="trashBtn"></i>
        <h1>CART</h1><br>
        <div id="cartContents">
        </div>
        <br>

        <div id="summary">
           <b>All</b><input type="checkbox" id="selectAll">
            <b>Total:&nbsp;&nbsp;</b><div id="total">0</div>
            <div id="checkoutBtn">CHECK OUT</div>
        </div>
    </div>
</body>
</html>