<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .fa-cart-plus{
            color: white; 
            border: none;
            margin-right: 0px;
            padding: 5px;
            font-size: 25px;
        }
        .fa-cart-plus:hover{
            border: none;
        }
    </style>
</head>
<body>
    <br>
    <div class="alerts"></div>
    <div id="cartSection">
        <i class="fas fa-trash-alt" id="removeFromWishlist"></i>
        <h1>WISH LISTS</h1><br>
        <div id="cartContents">
        </div>
        <br>

        <div id="summary">
           <b>All</b><input type="checkbox" id="selectAll">
            <b>Total:</b>&nbsp;&nbsp;<div id="total">0</div>
            <div id="addToCartBtn"><i class="fas fa-cart-plus"></i></div>
        </div>
    </div>
</body>
</html>