<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alerts"></div>
    <div id="search_bar">
        <input type="text" id="search_input">
        <div id="suggestions"></div>
        <button id="clear_btn">clear</button>
        <button id="search_btn">search</button>
    </div>

    <div id="category_field">
        <h3>Categories</h3>
        <input type="radio" name="category" value="All" class="category" id="all" checked>
        <label for="all">All</label> <br>
        <input type="radio" name="category" value="Food" class="category" id="food">
        <label for="food">Food</label> <br>
        <input type="radio" name="category" value="Grooming" class="category" id="grooming">
        <label for="grooming">Grooming</label> <br>
        <input type="radio" name="category" value="Accessories" class="category" id="accessories">
        <label for="accessories">Accessories</label> <br>
        <input type="radio" name="category" value="Cat Breed" class="category" id="cat_breed">
        <label for="cat_breed">Cat Breed</label>
    </div>

    <div id="products_field">
    </div>

    <div class="pagination">
    </div>
    
</body>
</html>